<ion-header>
  <ion-toolbar>
    <ion-title>Order now</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--header-->
  <div class="header">
    <h1></h1>
  </div>

  <!--Searchbar-->
  <app-searchbar (search)="onSearch($any($event.target).value)"></app-searchbar>

  <!-- Categories -->
  <div class="categories">
    <ion-button *ngFor="let category of categories" [class.active]="category.active" (click)="onCategoryClick(category.id)" [class.clicked]="category.active">
      <ion-icon [name]="category.icon"></ion-icon>
      {{category.label}}
    </ion-button>
  </div>

  <!--Products-->
  <div class="h1list-header">Combo Meals</div>
  <div class="food-list">
    <app-food-card *ngFor="let food of filteredFoods" [item]="food" (clicked)="goToDetailsPage(food.id)"></app-food-card>
  </div>
</ion-content>
