<ion-content>
  <!--header-->
  <div class="header">
    <h1></h1>
  </div>

  <!--Searchbar-->
  <app-searchbar (search)="onSearch($any($event.target).value)"></app-searchbar>

  <!--Categories-->
  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div>

  <!--Products-->
  <div class="h1list-header">Combo Meals</div>
  <div class="food-list">
    <app-food-card *ngFor="let food of filteredFoods" [item]="food" (clicked)="goToDetailsPage(food.id)"></app-food-card>
  </div>
</ion-content>
