<ion-header [translucent]="true">
  <ion-toolbar>

    <!--Button for burger menu-->
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Button for Login and Home-->
    <ion-buttons slot="end">
      <ion-button>
       <ion-icon name="people-outline" slot="icon-only"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!--For the title-->
    <ion-title>
      R-Go Food Catering
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  
<div id="header">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to R-Go!</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

  <div id="container">
    <strong>DITO SI FOODS</strong>
  </div>

<!--For the buttons at the bottom, change tabs-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="fast-food-outline"></ion-icon>
        Packages
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
        Cart
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
