<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to R-Go!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div id="header">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to R-Go!</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

  <div id="container">
    <strong>Get Started</strong>
    <br><br>
    <!-- redirect to login / register page-->
    <ion-button>Login / Register</ion-button> 
    <!-- redirect to home/loader page-->
    <br><br>
    <ion-button>Home</ion-button>
  </div>
</ion-content>
