.card {
    width: 100%;
    padding: 1.6rem 2rem;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    margin-bottom: 1.5rem;

    .card-content {
        text-align:center;

        .title {
            font-weight: 1000;
            font-size: 1.5rem;
            margin-bottom: .05rem;
            color: #fffbfb;
            background-color: #9E362B;
            border-radius: 10px;
            text-shadow: .3px 1.8px 1.3px rgba(74, 52, 51, 0.988);
        }
        .title2 {
            font-weight: 700;
            font-size: 0.8rem;
            margin-bottom: .8rem;
            color: #1d1d1d;
            font-style: italic;
        }
        .subtitle {
            font-size: 1.3rem;
            font-weight: 700;
            color: #d29314;
            margin-bottom: 1.5rem;  
            text-shadow: .3px 1.8px 1.3px  rgba(126, 66, 57, 0.988);

            sup {
                font-size: 1rem;
                margin-right: 2px;
            }
        }

        ion-buttons {
            position:absolute;
            bottom: -1rem;
            left: 50%;
            transform: translateX(-50%);

            ion-button {
                --background: #9E362B;
                font-weight: 700;
                color: #ffff;
                width: 40px;
                height: 40px;

                --padding-start: 0;
                --padding-end: 0;
                --padding-top: 0;
                --padding-bottom: 0;
            }
        }
    }
}