<ion-content>
  <div class="header">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/cart">
        <ion-icon slot="icon-only" color="danger" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>


  <!--Details of the food packages upon clicking-->

  <div class="card">
    <div class="image">
      <ion-img [src]="food.image"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{food.title}}</h1>
        <p class="ion-no-margin">{{food.title2}}</p>
      </div>
    </div>

    <div class="about">
      <h1>About</h1>
      <p>{{food.description}}</p>
    </div>
  </div>
</ion-content>