<ion-content>
<h3 class="title" *ngIf="(cartItems$|async)?.length">{{(cartItems$|async)?.length}} towards to cart</h3>

<!--.ADDED PACKAGES TO CART FROM CART-->
<!--<app-cart-items></app-cart-items>-->

<ion-list lines="none">
    <ion-item-sliding *ngFor="let item of cartItems$|async">
        <ion-item>
            <app-cart-items [item]="item"(increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-cart-items>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="removeFromCart(item)">
                <ion-icon name='trash-outline' size='large' color='danger'></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

    <!-- When the cart is empty -->

<div class="empty-cart" *ngIf="!(cartItems$|async)?.length">
    <ion-icon name="cart-outline"></ion-icon>
    <p>Cart is empty</p>
</div>

    <!-- div for the checkout button -->
    <app-button-order *ngIf="(cartItems$ | async)?.length">
        Total: <span>{{ totalAmount$ | async | number: '1.2' }}</span>
        <ion-button expand="full" (click)="checkout()">Checkout</ion-button> <!-- Add the checkout button -->
      </app-button-order>
    </ion-content>