ion-content {
  
  p {
    justify-content: center;
  }

}
ion-content {
--background: url("/assets/img/landingpage.png") no-repeat center center;
--background-size: cover;
}
.custom-position {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  padding: 0 .5em;



}
.transparent-bg {
  background-color: rgb(255, 255, 255);
  opacity: 0.8; 
}
  .card-image {
    padding: .5;
  }
ion-card-header {
  padding-bottom: 0;
  margin-bottom: 0;
}



