<ion-toolbar>

  <!--Button for burger menu
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="menu" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>-->
  <!--For the title-->
  <ion-title>
    R-Go Food Catering
  </ion-title>
</ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cart">
      <ion-icon name="fast-food-outline"></ion-icon>
      Product List
    </ion-tab-button>
    <!--<ion-tab-button tab="packages">
      <ion-icon name="fast-food-outline"></ion-icon>
      Packages
    </ion-tab-button>-->
    <ion-tab-button tab="cart-listing">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
    </ion-tab-button>
    <!--<ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button> -->
    <ion-tab-button tab="login">
      <ion-icon name="people-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>