<ion-content class="background-image">
  <div class="custom-position">
    <img src="assets\img\rgo2.png" alt="RGO LOGO" class="card-image">
<ion-card class="transparent-bg">


  <ion-card-header>
    <ion-card-title>Welcome!</ion-card-title>
    <ion-card-subtitle>Pangilinan | Sarmiento | Valenton</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <h2 style="font-weight: bold">Get Started!</h2>
    <p>
      You may now start to:
      <br>1. Browse Items
      <br>2. Add to cart
      <br>3. Review cart 
      <br>4. Place an order 
      <br>5. Order confirmation
    </p>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cart">
      <ion-icon name="fast-food-outline"></ion-icon>
      Product List
    </ion-tab-button>
    <ion-tab-button tab="cart-listing">
      <ion-icon name="cart-outline"></ion-icon>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="people-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>