<ion-content [fullscreen]="true">
  <div class="background-image"></div>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <img src="assets\img\rgo1.png" alt="RGO LOGO" class="card-image">
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button (click)="login()" color="danger" size="full">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>