<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="danger">R-Go! Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="danger" size="full">Login</ion-button>
        <ion-button color="success" size="full">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>

  