<ion-content>
  <ion-item>
    <ion-label>Hello, {{ email }}</ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>Order History</ion-list-header>
    <div *ngIf="xmlData">
      <p>{{ xmlData[0]?.items[0]?.name }}</p>
    </div>
    <ion-item *ngFor="let order of xmlData">
      <ion-list>
        <ion-item *ngFor="let item of order.items">
          <ion-label>{{ item.name }}</ion-label>
          <ion-label>{{ item.quantity }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="logout()" expand="full" color="danger">Logout</ion-button>
  </ion-toolbar>
</ion-footer>
