<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Email: {{ email }}</ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>Order History</ion-list-header>
    <ion-item *ngFor="let order of orders">
      <ion-label>Order Number: {{ order.orderNumber }}</ion-label>
      <ion-label>Total Amount: {{ order.totalAmount | currency }}</ion-label>
      <ion-label>Order Date: {{ order.orderDate | date }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="logout()" expand="full" color="danger">Logout</ion-button>
</ion-content>
